body {
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    padding: 20px 10%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

nav button:hover {
    background-color: white;
    color: #2575fc;
}

@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
    }

    nav {
        margin-top: 20px;
    }

    nav button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}


.payment-form {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}